h2 {
    color: #237385;
    font-size: 50px;
}

input {
    outline: none;
    height: 38px;
    font-size: 18px;
    font-style: italic;
    border: 1px solid #d3e3f1;
    border-radius: 3px !important;
}

body {
    margin: 0;
}

button {
    border-radius: 3px;
    height: 40px;
    width: 120px;
    outline: none;
    cursor: pointer;
    border: none;
    color: #237385;
    background: #d3e3f1;
    margin-top: 20px;
}

button:hover {
    opacity: 0.8;
}

.input-label {
    text-align: left;
}

.page-container {
    text-align: center;
    width: 100%;
    font-family: Arial;
    font-size: 12px;
}

.margin-20 {
    margin: 20px;
}

.time-input {
    display: inline-block;
}

.error-message {
    background: #c5061f;
    color: white;
    width: 100%;
    padding: 5px;
    position: absolute;
    top: 0;
}